* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container1 {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}
.container {
  width: 1128px;
  max-width: 100%;
  margin: 0 auto;
}
